.header-div {
    flex: 1;
    background-color: #242a2e;
    border: 1px solid rgba(26, 25, 25, 0.827);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 0rem 2rem;
}

.app-logo {
    width: 2rem;
}